@model Microsoft.AspNet.Identity.EntityFramework.IdentityRole
@{
    ViewBag.Title = "Create";
}
<br style="height: 500px;" />
<h2>Create</h2>

<style type="text/css">
    #tborle, .c {
        border: none;
        max-width: 400px;
    }
</style>

@using (Html.BeginForm())
{
    <table id="tborle">
        <tr>
            <td class="c">Enter Role name to be created</td>
            <td class="c">
            @Html.EditorFor(m => m.Name)
            </td>
        </tr>
    </table>
    <input class="btn--create" type="submit" value="Create Role" />
}